header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
}

nav-links, a {
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-size: 16px;
    color: #192841;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #CD258F;
}

.content {
    background-color: #f0ffec;
    padding-top: 2em;
    display: inline-flex;
}

h1 {
    font-family: 'Noto Serif JP', serif;
    padding: 1em;
    color: #192841;
}